@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,700;1,400&display=swap');

:root {
	--rust: #BE3019;
	--gold: #FECB33;
	--muted-rust: #E2D2CB;
	--muted-gold: #EEEBD8;
	--white: #FFFFFF;
	--black: #000000;
	--grey: #242424;
}

html body {
	background-color: var(--white);
	color: var(--black);
	font-family: 'Poppins', sans-serif;
}

html {
	position: relative;
	min-height: 100%;
}

html h1 {
	color: var(--rust);
}

html h2 {
	color: var(--gold);
}

html h4 {
	color: var(--gold);
}

/* Convenience */

.text-red {color: var(--rust);}
.text-yellow {color: var(--gold);}
.text-white {color: var(--white);}
.text-underlined {text-decoration: underline;}

/*Navbar + Footer*/

/* this is the actual navbar container including the navbar + banner on top*/
/*the reason it's called "banner" is because there are additional bootstrap
propertioes to it*/
.banner {
	position: fixed;
	top: 0!important;
	z-index: 100;
	width: 100%;
  }

.navbar {
	background-color: var(--muted-gold);
	vertical-align: middle;
	padding: 0.3rem!important;
	
}

.navbar-title {
	color: var(--rust);
	font-weight: bold;
	font-size: 30px;
	margin-bottom: 0;
}

.nav-link {
	color: var(--grey);
	transition: 0.3s;
	margin-left: 0.5rem; 

}

.nav-link:hover {
	color: var(--rust)!important;
}

.nav-highlight {
	color: var(--rust)!important;
	font-weight: bold;
}

.nav-bold {
	color: var(--black)!important;
	font-weight: bold;
}

.dropdown-menu {
	border: none!important;
	border-radius: 0!important;
}

.dropdown-item {
	color: var(--grey)!important;
	transition: 0.3s!important;
}

.dropdown-item:hover {
	color: var(--rust)!important;
	background-color: var(--white)!important;
}

footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	/* Set the fixed height of the footer here */
	background-color: var(--gold);
	color: var(--black);

}

footer p {
	color: var(--black);
}

footer a {
	text-decoration: none;
	color: var(--black);
}

.bg-rust {
	background-color: var(--rust);
	vertical-align: center;
}

@media only screen and (max-width: 960px) {
	/* For tablets: */
	.float-center {
		float: none!important;
		text-align: center;
	}
  }

  @media only screen and (min-width: 429px) {
	#nav-title-short {
		display: none!important;
	}
  }

  @media only screen and (max-width: 428px) {
	#nav-title {
		display: none!important;
	}
	#nav-title-short {
		display: block!important;
	}
  }

/*Banner*/

.banner-line {
	background-color: var(--gold);
	padding: 2px 10px;
}

.banner button {
	text-decoration: none;
	font-weight: bold;
	color: var(--rust) !important;
	background: none;
	border: none;
	padding: 0;
	cursor: pointer;
	outline: none!important;
}
  
.banner button:hover {
	text-decoration: underline;
}

span.anchor {
    margin-top: -54px!important; /* height of nav, in this case 54px */
    display: block!important;
    height: 54px!important; /* height of nav, in this case 54px */
    visibility: hidden!important;
    position: relative!important;
}
	
/*Body Content */

.container {
	margin: 70px 0 100px 0;
	padding-top: 20px;
}

.page-title {
	font-size: 6vw;
	color: var(--rust);
	font-weight: bold;
}

/* For nav bars to flex into column major order on mobile */
.btn-group.btn-group-flex {
	display: flex;
	flex-direction: row;
}

/* home */
.content {
	background: var(--white);
	margin: 15px 0px;
  }

.description-image {
	width: 100%;
}

.content-title {
	float: left;
}

.card-header-pills {
	float: right;
}

.tab-pane {
	padding: 10px;
}

html address {
	margin-left: 5%;
}

/*Cards*/
html .card {
	border-radius: 0px;
}

html .card-header {
	background-color: var(--rust);
}

.card-group-flex {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
  }

  @media screen and (max-width: 768px) {
	.card-group-flex {
	  flex-direction: column;
	}
  
	.footer p {
	  line-height: 30px;
	}
  }
  

/*To make anchor links account for the fixed header*/
a.anchor {
    display: block;
    position: relative;
    top: -75px;
    visibility: hidden;
}

/* Button groups */
html button {
	background-color: var(--rust);
	color: white;
}

button a {
	text-decoration: none;
	color: white;
}

button a:hover {
	text-decoration: underline;
	color: white;
}


/* 576 px to match Bootstrap v4 col-sm breakpoint */
@media screen and (max-width: 576px) {
	html h1 {
		font-size: 9vw;
	}

	html h2 {
		font-size: 6vw;
	}

	.page-title {
		font-size: 10vw;
	}

	.btn-group.btn-group-flex {
		flex-direction: column;
	}

	/* making the border-radius correct */
	.btn-group.btn-group-flex > .btn:first-child {
		border-radius: 6px 6px 0 0;
		border-bottom: 1px solid black;
	}
	
	.btn-group.btn-group-flex > .btn:first-child:not(:last-child):not(.dropdown-toggle) {
	    border-top-right-radius: 6px;
	}

	.btn-group.btn-group-flex > .btn:not(:first-child):not(:last-child):not(.dropdown-toggle) {
		border-bottom: 1px solid black;
	}
	  
	.btn-group.btn-group-flex > .btn:last-child:not(:first-child) {
	    border-radius: 0 0 6px 6px;
	}

	/* fixing margin */
	.btn-group.btn-group-flex .btn + .btn {
	    margin-left: 0;
	}
}

/* Home */

#home-carousel {
	height: 100vh;
	object-fit: cover;
}