@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,700;1,400&display=swap");

:root {
  --rust: #be3019;
  --gold: #fecb33;
  --muted-rust: #e2d2cb;
  --muted-gold: #eeebd8;
  --white: #ffffff;
  --black: #000000;
  --grey: #242424;
}

html body {
  margin: 0 0 100px 0;
  overscroll-behavior-y: none;
}

/*Navbar + Footer*/

.navbar {
  background-color: rgba(0,0,0,0);
  font-family: "Poppins", sans-serif;
  vertical-align: middle;
  padding: 0.3rem !important;
}
