@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,400;1,700&display=swap');

html {
  scroll-behavior: smooth;
  box-sizing: border-box;
  font-size: 16px;
}

@media (min-width: 1800px) {
  html {
    font-size: 20px;
  }
}

html body {
  margin: 0 !important;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

body::-webkit-scrollbar {
  display: none;
}

/*Navbar + Footer*/

/*Body Content */
.container-fluid {
  padding-left: 0rem !important;
  padding-right: 0rem !important;
  overflow: hidden !important;
}

.card-group-flex {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

@media screen and (max-width: 960px) {
  .card-group {
    padding-bottom: 125px!important;
  }
}

@media screen and (max-width: 420px) {
  .card-group {
    padding-bottom: 200px!important;
  }
}
@media screen and (max-width: 768px) {
  .footer p {
    line-height: 30px;
  }
}

/*Home Navigator*/
#home-navigator {
  position: fixed;
  z-index: 20;
  bottom: 40px;
  display: flex;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 20px;
  background-color: var(--gold);
  padding: 10px 20px;
  box-shadow: 4px 4px 20px var(--grey);
}

#home-navigator a {
  color: black;
  font-size: 1rem;
  padding: 0 0.5rem;
}

#home-navigator p {
  margin-bottom: 0;
}

#home-nav-wrapper {
  width: 100%;
}

/*BLM*/
.BLM {
  background-color: var(--muted-gold);
  padding-top: 60px;
  padding-bottom: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.BLM div {
  width: 45%;
  font-size: 0.8rem;
  font-weight: bold;
}

@media screen and (max-width: 1200px) {
  .BLM {
    display: block;
    width: 100%;
  }
  #blm-img {
    margin: 0 auto;
    width: 60%;
  }
  #blm-text {
    margin: 0 auto;
    width: 90%;
    text-align: center;
  }
}

@media screen and (max-width: 768px) {
  #blm-img {
    width: 90%;
  }
}

/*Carousel*/
.carousel-item img {
  height: 100vh;
  object-fit: cover;
}
/*Cards*/
.cards {
  background-color: var(--muted-gold);
}

.card-group {
  justify-content: center;
  padding: 10px 0 100px 0;
}

.no-margin {
  margin-right: 0!important;
}

.quick-link {
  padding: 15px;
  border-color: var(--muted-gold);
}

@media screen and (max-width: 1500px) {
  .quick-link {
    max-width: 12%!important;
    flex: 1!important;
    width: 12%!important;
  }
}

@media screen and (max-width: 1023px) {
  .quick-link {
    max-width: 100%!important;
    width: 25%!important;
    flex: 0 25%!important;
  }

  #home-nav-wrapper {
    visibility: hidden;
  }
}

@media screen and (max-width: 565px) {
  .quick-link {
    width: 50%!important;
    flex: 0 50%!important;
  }
}
.quick-link:hover {
  border: 5px solid var(--muted-rust);
  transition: .2s;
}
.card-img {
  padding: 10px;
}

.card-text {
  text-align: center;
  color: black;
  font-size: .75rem;
}

.card-text-a:hover {
  text-decoration: none !important;
}

html .card {
  border-radius: 0px;
  padding: 10px;
  min-width: 230px;
}
