@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,700;1,400&display=swap');

:root {
	--rust: #BE3019;
	--gold: #FECB33;
	--muted-rust: #E2D2CB;
	--muted-gold: #EEEBD8;
	--white: #FFFFFF;
	--black: #000000;
	--grey: #242424;
}

html body {
	background-color: var(--white);
	color: var(--black);
	/*To clear the header*/
	/*margin-top: 65px; */
	margin: 75px 0 100px 0;
	overscroll-behavior-y: none;
}

html {
	position: relative;
	min-height: 100%;
}

body {
	/* Margin bottom by footer height */
	margin-bottom: 70px;
}
html h1 {
	color: var(--rust);
}

html h2 {
	color: var(--gold);
}

html h4 {
	color: var(--gold);
}

/*Navbar + Footer*/

.navbar {
	background-color: var(--muted-gold);
	font-family: 'Poppins', sans-serif;
	vertical-align: middle;
	padding: 0.3rem!important;
}

.navbar-title {
	color: var(--rust);
	font-weight: bold;
	font-size: 30px;
	margin-bottom: 0;
}

.nav-link {
	color: var(--grey);
	transition: 0.3s;
	margin-left: 0.5rem; 
}

.nav-link:hover {
	color: var(--rust)!important;
}

.nav-highlight {
	color: var(--rust)!important;
	font-weight: bold;
}

.nav-bold {
	color: var(--black)!important;
	font-weight: bold;
}

.dropdown-menu {
	border: none!important;
	border-radius: 0!important;
}

.dropdown-item {
	color: var(--grey)!important;
	transition: 0.3s!important;
}

.dropdown-item:hover {
	color: var(--rust)!important;
	background-color: var(--white)!important;
}

footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	/* Set the fixed height of the footer here */
	background-color: #FECB33;
	color: #13191E;

}

footer p {
	color: var(--black);
}

footer a {
	text-decoration: none;
	color: var(--black);
}

.bg-rust {
	background-color: var(--rust);
	vertical-align: center;
}

@media only screen and (max-width: 960px) {
	/* For tablets: */
	.float-center {
		float: none!important;
		text-align: center;
	}
  }

  @media only screen and (min-width: 429px) {
	#nav-title-short {
		display: none!important;
	}
  }

  @media only screen and (max-width: 428px) {
	#nav-title {
		display: none!important;
	}
	#nav-title-short {
		display: block!important;
	}
  }

/*Banner*/

.banner {
	position: fixed;
	z-index: 100;
	background-color: var(--gold);
	width: 100%;
	padding: 0 10px;
	top: 70px;
  }
  
.banner button {
	text-decoration: none;
	font-weight: bold;
	color: var(--rust) !important;
	background: none;
	border: none;
	padding: 0;
	cursor: pointer;
	outline: none!important;
}
  
.banner button:hover {
	text-decoration: underline;
}


/*Body Content */

.container {
	margin-top: 20px;
}

.page-title {
	position: relative;
	left: -75px;
	font-size: 100px;
	color: var(--rust);
	font-weight: bold;
}

.content {
	background: var(--white);
	margin: 15px 0px;
}

.description-image {
	width: 100%;
}

.content-title {
	float: left;
}

.card-header-pills {
	float: right;
}

.tab-pane {
	padding: 10px;
}

.card-group-flex {
	display:flex;
	flex-direction: row;
	flex-wrap: wrap;
}

@media screen and (max-width: 768px) {
	.card-group-flex {
		flex-direction: column;
	}


	.footer p {
		line-height: 30px;
	}
}

/*Cards*/
html .card {
	border-radius: 0px;
	padding: 10px;
	min-width: 230px;
}

/*To make anchor links account for the fixed header*/
a.anchor {
    display: block;
    position: relative;
    top: -75px;
    visibility: hidden;
}
