.body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
  justify-content: center;
}

/*Navbar + Footer*/
.navbar {
  font-family: "Roboto", sans-serif;
  vertical-align: middle;
  padding: 0.3rem !important;
  box-shadow: 0;
  transition: .3s;
}

.navbar-title {
  color: var(--rust);
  font-weight: bold;
  font-size: 30px;
  margin-bottom: 0;
}

.nav-link {
  transition: 0.3s;
  margin-left: 0.5rem;
  color: var(--grey) !important;
  font-weight: bold;
}

.nav-link:hover {
  color: var(--rust) !important;
}

.nav-highlight {
  color: var(--rust) !important;
  font-weight: bold;
}

.nav-bold {
  color: var(--black) !important;
  font-weight: bold;
}

.navbar.scrolled {
  box-shadow: 2px 2px 10px var(--grey);
  border-radius: 0 0 20px 20px;
  transition: 0.3s;
}

.navbar.scrolled .nav-link {
  color: #555;
}

.dropdown-menu {
  border: none !important;
  border-radius: 0 !important;
}

.dropdown-item {
  transition: 0.3s !important;
  padding: .25rem 1rem!important;
}

.dropdown-item:hover {
  color: var(--rust) !important;
  background-color: var(--muted-rust)!important;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  background-color: #fecb33;
  color: #13191e;
}

footer p {
  color: var(--black);
}

footer a {
  text-decoration: none;
  color: var(--black);
}

.bg-rust {
  background-color: var(--rust);
  vertical-align: center;
}

@media only screen and (max-width: 960px) {
  /* For tablets: */
  .float-center {
    float: none !important;
    text-align: center;
  }
}

@media only screen and (min-width: 429px) {
  #nav-title-short {
    display: none !important;
  }
}

@media only screen and (max-width: 428px) {
  #nav-title {
    display: none !important;
  }
  #nav-title-short {
    display: block !important;
  }
}

/*Banner*/

.banner {
  position: fixed;
  z-index: 100;
  background-color: var(--gold);
  width: 100%;
  padding: 0 10px;
  top: 70px;
}

.banner button {
  text-decoration: none;
  font-weight: bold;
  color: var(--rust) !important;
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  outline: none !important;
}

.banner button:hover {
  text-decoration: underline;
}

/*Body Content */

.container {
  margin-top: 20px;
  padding-left: 10%!important;
  padding-right: 10%!important;
}

.page-title {
  font-size: 5vw;
  color: var(--rust);
  font-weight: bold;
  margin-bottom: 2%;
}

.page-title .col {
  font-family: 'Playfair Display', serif;
}
/* For nav bars to flex into column major order on mobile */
.btn-group.btn-group-flex {
  display: flex;
  flex-direction: row;
}

.content {
  background: var(--white);
}

.description-image {
  width: 100%;
}

.content-title {
  float: left;
}

.card-header-pills {
  float: right;
}

.tab-pane {
  padding: 10px;
}

html address {
  margin-left: 5%;
}

/*Cards*/
html .card {
  border-radius: 0px;
}

html .card-header {
  background-color: var(--rust);
}

/*To make anchor links account for the fixed header*/
a.anchor {
  display: block;
  position: relative;
  top: -75px;
  visibility: hidden;
}

/* Button groups */
html button {
  background-color: var(--rust);
  color: white;
}

button a {
  text-decoration: none;
  color: white;
}

button a:hover {
  text-decoration: underline;
  color: white;
}

/* 576 px to match Bootstrap v4 col-sm breakpoint */
@media screen and (max-width: 576px) {
  html h1 {
    font-size: 9vw;
  }

  html h2 {
    font-size: 6vw;
  }

  .page-title {
    font-size: 10vw;
  }

  .btn-group.btn-group-flex {
    flex-direction: column;
  }

  /* making the border-radius correct */
  .btn-group.btn-group-flex > .btn:first-child {
    border-radius: 6px 6px 0 0;
    border-bottom: 1px solid black;
  }

  .btn-group.btn-group-flex
    > .btn:first-child:not(:last-child):not(.dropdown-toggle) {
    border-top-right-radius: 6px;
  }

  .btn-group.btn-group-flex
    > .btn:not(:first-child):not(:last-child):not(.dropdown-toggle) {
    border-bottom: 1px solid black;
  }

  .btn-group.btn-group-flex > .btn:last-child:not(:first-child) {
    border-radius: 0 0 6px 6px;
  }

  /* fixing margin */
  .btn-group.btn-group-flex .btn + .btn {
    margin-left: 0;
  }
}